<html>

    <head>
        <title>Cadastro de veículos</title>
    </head>

    <body>
        <h1>Cadastro de veículos</h1>
        <table>
            <thead>
                <tr>
                    <th>Veículo</th>
                    <th>Placa</th>
                    <th>Modelo do veículo</th>
                    <th>Fabricante</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                    <tr>
                        <td>{{veiculo.nome_veiculo}}</td>
                        <td>{{veiculo.placa_veiculo}}</td>
                        <td>{{veiculo.modelo_veiculo}}</td>
                        <td>{{veiculo.fabricante_veiculo}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>