{% load static %}
<html lang='pt-br'/>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Index</h1>
        <table>
            <thead>
                <tr>
                    <td>Veículo</td>
                    <td>Placa</td>
                    <td>Fabriante</td>
                </tr>
            </thead>
            <tbody>
                {% for veiculo in veiculos %}
                    <tr>
                        <td><a href="{% url 'veiculo' veiculo.id %}">{{veiculo.nome_veiculo}}</a></td>
                        <td>{{veiculo.placa_veiculo}}</td>
                        <td>{{veiculo.fabricante_veiculo}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <img src="{% static 'images/kurapika.png' %}" width="270" height="400"/>
    </body>
    <button onclick="teste()">Clique-Me</button>
    <script src="{% static 'js/script.js' %}"></script>
</html>